/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Noto+Sans);
/*@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#000000;
--secondarycolor:#AAAAAA;
--tertiarycolor:#CCCCCC;
--sidebarbackground:#CACACA;
--linkcolor:#0D47A1;
--linkcoloralternate:#B71C1C;
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */

body{font-family: "Noto Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}

h1{color:var(--primarycolor) !important;font-family:"Noto Sans",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Noto Sans",sans-serif;}
.title{color:var(--black) !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
a{text-decoration: none;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:var(--linkcolor);}
blockquote{color:var(--secondarycolor) !important}
.quoteblock{color:var(--black)}
.quoteblock blockquote:before{color:var(--black)}
code{color:var(--white);background-color: var(--secondarycolor) !important}
mark{background-color: var(--tertiarycolor)} /* Text highlighting color */

/* Table styles */
th{background-color: var(--maincolor);color:var(--black) !important;}
td{background-color: var(--maincolor);color: var(--black) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;}
}

/*Personalized*/

/*NAVBAR*/

/* Function for dropdown*/
 .sidenav, .item ul{
  display: none;
}

.item input:checked ~ ul{
  display: block;
}

/*.item input:checked ~ label{
  background-color: rgb(30, 94, 105);
}*/

/*Arrow*/
.arrow{
  width: 12 px;
  height: 12 px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17 px 1em 0 2 em;
}

.item input + arrow .arrow{
  transform: rotate (90deg);
  transition: 0.1s;
}

.item input:checked + .arrow{
  transform: rotate(0deg);
  transition: 0.1s;
}

/*Styling*/
label:hover{
  cursor: pointer;
}

label{
  width: 100%;
  display: block;
  z-index: 3; /*clicl anywere on the label and it will act like a link*/
  position: relative;
}

.sidenav{
  width: 100%;
  background-color: rgba(248, 247, 243, 0.974);
  overflow-x: hidden;
  border-bottom: 1px solid #818181;
}

.sidenav ul, .sidenav li, label {
  line-height: 50px;
  margin: 0;
  padding: 0 2em; /*top and bottom & left and right*/
  list-style: none;
  text-decoration: none;
  color: #818181;
  font-weight: normal;
  width: 100%;
}

.item ul{
  padding: 0 0.25em;

}

.sidenav li a{
  line-height: 50px;
  margin: 0;
  padding: 0 4em; /*top and bottom & left and right*/
  list-style: none;
  text-decoration: none;
  color: #818181;
  font-weight: normal;
  width: 100%;
}


/*
Old navbar design
/* Fixed sidenav, full height */
/*.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(248, 247, 243, 0.974);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
/*.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/*.dropdown-btn_second {
  padding:6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding-left: 8px;
}

/* On mouse-over */
/*.sidenav a:hover, .dropdown-btn:hover, .dropdown-btn_second:hover {
  color: #575757;
}

/* Main content */
/*.main {
  margin-left: 210px; /* Same as the width of the sidenav */
 /* font-size: 20px; /* Increased text to enable scrolling */
  /*padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
/*.active{
  background-color: rgb(30, 94, 105);
  color: white;
}

/* Add an active class to the active dropdown button beyond first level */
/*.active_second{
  color: #575757;
  font-weight: bold;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
/*.dropdown-container {
  display: none;
  background-color: rgba(232, 231, 226, 0.974);
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
/*.fa-caret-down {
  float: left;
  padding-right: 8px;
}*/

